*{
	margin: 0;
}

body{
	background: #fff;
}

.container{
	position:  relative;
	width: 420px;
	height: 100px;
	border:  1px solid #ddd;
	margin-left:  auto;
	margin-right:  auto;
	top:  20px;
	background: #fff;
	box-shadow: -2px -2px 20px #ddd;
	border: none;
	border-radius: 10px;
	padding: 20px;
}

.circle-object{
	float: left;
}

.bg-green{
	background: #3fd42e;
}

.bg-white{
	background: #fff;
}

.bg-debug{
	background: #ddd;
}

.border-green{
	border: 1px solid #3fd42e;
}

.border-white{
	border: 1px solid #fff;
}

.outer-circle{
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 60%;
/*	margin-top: 30px;*/
	margin-left: 30px;
}

.inner-circle{
	position: absolute; 
	left: 0px; 
	right: 0; 
	top: 0;
	margin-left: auto; 
	margin-right: auto; 
	width: 30px;
	height: 30px;
	border-radius: 60%;
}

.Absolute-Center {
  display: flex; // make us of Flexbox
  align-items: center; // does vertically center the desired content
  justify-content: center; // horizontally centers single line items
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
}  
